<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Family Tree</title>
    <script src="../angular/angular-1.6.7/angular.js"></script>
    <script src="../angular/angular-1.6.7/angular-route.min.js"></script>
    <script type="text/javascript" src="../modules/familyTree.js"></script>
    <script type="text/javascript" src="../controllers/mainController.js"></script>
</head>
<body>
<div  ng-app="familyTree">
    <div ng-controller="main as m">
        <h1>{{m.headline}}</h1>
    </div>
</div>
</body>
</html>